<ol reversed class="postlist">
{% for post in worklist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">
            {% if post.data.title %}
                <h4>{{ post.data.title }}</h4>
            {% else %}
                <code>{{ post.url }}</code>
            {% endif %}
		    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		</a>
	</li>
{% endfor %}
</ol>
