/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: #212529;
	--text-color-link: #212529;
	--text-color-link-active: #212529;
	--text-color-link-visited: #212529;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #212529;
		--color-gray-50: #212529;
		--color-gray-90: #212529;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #212529;
		--text-color-link-active: #212529;
		--text-color-link-visited: #212529;

		--background-color: #ffffff;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

html {
	overflow-y: scroll;
}

body {
	max-width: 70em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}

header {
	border-bottom: 1px solid;
	max-width: 100%;
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	/* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.home-link {
	font-size: 1.25em;
	/* 16px /16 */
	font-weight: 700;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */

.nav-item {
	font-size: 1.25em;
	display: inline-block;
	margin-right: 2em;
	font-weight: bold
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.ml-auto {
	margin-left: auto !important;
}

/* Posts list */
.postlist {
	list-style: none;
	padding-left: .5em;
}

.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
}


.postlist-item h4 {
	display: inline;
	font-weight: 400;
}

.postlist-item a {
	text-decoration: none;
}

.postlist-date {
	font-size: 1.125rem;
	float: right;
	text-align: right;
	color: #5c6e7e;
}

.postlist-link {
	font-size: 1.35rem;
	font-weight: 400;
	flex-basis: 100%;
	border-bottom: solid 1px #909ca7;
	padding-bottom: 10px;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item>.post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}

a[href].header-anchor:focus,
:hover>a[href].header-anchor {
	color: #aaa;
}

h2+.header-anchor {
	font-size: 1.5em;
}

/* Handling images */
.image-container img {
	width: 20em;
}

.work-post {
	position: relative;
	/* Display posts side by side */
	display: inline-block;
	margin: 1em;
}

.work-post img {
	width: 30em;
}

.work-post p {
	/* Overlay description on image */
	position: absolute;
	top: -28px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	/* Semi-transparent black */
	background: #000000ce;
	color: white;
	/* Hide by default */
	opacity: 0;
	/* Smooth fade in */
	transition: opacity 0.3s ease;
}

.work-post p .hover-text {
	margin-top: 10%;
}

.work-post:hover p {
	/* Show on hover */
	opacity: 1;
}


.landing-block {
	max-width: 600px;
	font-size: 14pt;
	margin-top: 6em;
	margin-bottom: 10em;
}

.featured-works {
	margin-bottom: 6em;
}

.recent-blogs {
	margin-bottom: 10em;
}