/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

	--base-white: 255, 255, 255;
	--base-black: 0, 0, 0;
	--base-grey: 92, 110, 126;

	--syntax-tab-size: 2;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: rgb(var(--base-black));
	background-color: rgb(var(--base-white));
}

body {
	margin-bottom: 10em;
}

html {
	overflow-y: scroll;
}

code {
	background-color: #d8d8d8
}

p {
	line-height: 1.5;
}

p:last-child {
	margin-bottom: 0;
}

li {
	line-height: 1.5;
}

a[href],
a[href]:visited,
a[href]:hover,
a[href]:active {
	color: rgb(var(--base-black));
}

main {
	margin: 0 auto;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed rgb(var(--base-grey));
	padding: 1em 0;
	margin-top: 3em;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Header */
header {
	border-bottom: 1px solid;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: rgba(var(--base-white), 1);
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.home-link {
	font-size: 1.25em;
	font-weight: bold;
	margin-left: 2rem;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
#header-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: space-between;
	width: 1180px;
	height: 85px;
	margin-right: auto;
	margin-left: auto;
}

nav {
	display: block;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav-item {
	font-size: 1.25em;
	display: inline-flex;
	margin-right: 2em;
	font-weight: bold;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav-item a[href][aria-current="page"] {
	text-decoration: underline;
}

#hire-me {
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	color: rgb(var(--base-white));
	border-radius: 0;
	border: 2px solid;
	box-shadow: 6px 6px 0px rgb(var(--base-black));
	transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

#hire-me:hover {
	box-shadow: 0px 0px 0px rgb(var(--base-black));
	transform: translate(6px, 6px);
}

/* Hamburger menu styles */
#hamburger-button {
	width: 2rem;
	height: 2rem;
	background: transparent;
	border: none;
	display: none;
	cursor: pointer;
	z-index: 10;
}

#hamburger-button div {
	width: 2rem;
	height: 0.25rem;
	background: transparent;
	border: none;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
}

#navigation-menu {
	/* Hide the menu */
	display: block;
}

@media screen and (max-width: 768px) {

	#navigation-menu {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(var(--base-black), 0.8);
		transition: transform 0.3s ease-in-out;
		z-index: 999;
	}

	#navigation-menu[aria-hidden="true"] {
		display: none;
	}

	#navigation-menu[aria-hidden="false"] {
		display: block;
	}

	#hamburger-button {
		display: block;
		margin: 1.37rem;
		margin-left: auto;
	}

	#hamburger-button div {
		margin: 6px 0;
		background-color: rgb(var(--base-black));
	}

	#hamburger-button~#navigation-menu .nav-item {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3em;
		margin-right: 0;
	}

	#hamburger-button~#navigation-menu ul {
		padding: 0;
	}

	#hamburger-button~#navigation-menu .nav-item a {
		color: rgb(var(--base-white));
	}
}

/* Main page post list */
.postlist {
	list-style: none;
	padding-left: 0;
}

.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
	border-bottom: solid 1px rgb(var(--base-grey));
}

.postlist-item h2 {
	display: inline;
	font-weight: 400;
	font-size: 1.25rem;
}

.postlist-item a {
	text-decoration: none;
}

.postlist-item:hover {
	border-bottom: solid 2px rgb(var(--base-grey));
}

.postlist-item:hover .postlist-date,
.postlist-item:hover h2 {
	font-weight: 800;
}

.postlist-date {
	font-size: 1.125rem;
	float: right;
	text-align: right;
	color: rgb(var(--base-grey));
}

.postlist-link {
	font-size: 1.35rem;
	font-weight: 400;
	flex-basis: 100%;
}

.postlist {
	margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
	.postlist-item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-bottom: 0;
	}

	.postlist-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.postlist-item:hover .postlist-date {
		font-weight: 800;
	}

	.postlist-date {
		float: none;
		text-align: center;
	}

	.postlist-item h2 {
		text-align: center;
		margin: 0;
	}

	#recent-blogs h1 {
		text-align: center;
	}

	.postlist li {
		border-bottom: solid 1px rgb(var(--base-grey));
		margin-right: 12.5%;
		margin-left: 12.5%;
	}
}

.image-container img {
	display: block;
	width: 100%;
	height: auto;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item>.post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}

/* Handling images */
.work-post {
	position: relative;
	display: inline-flex;
	margin: 1em;
	/* makes it so there's three photos per row */
	width: calc((100% / 3) - 3em);
	overflow: hidden;
}

.work-post img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.work-post:before {
	content: "";
	display: block;
	/* aspect ratio 4:3, for 1:1 use 100%, for 16:9 use 56.25% */
	padding-top: 100%;
}

.work-post p {
	/* Overlay description on image */
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	background: rgba(var(--base-black), 0.85);
	color: rgb(var(--base-white));
	/* Hide by default */
	opacity: 0;
	/* Smooth fade in */
	transition: opacity 0.3s ease;
}

.work-post p .hover-text {
	margin-bottom: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.work-post:hover p {
	/* Show on hover */
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.work-post {
		width: 85%;
		display: block;
		margin: auto;
		margin-bottom: 2rem;
	}

	.page h1 {
		display: flex;
		justify-content: center;
	}

	.work-post:first-of-type,
	.work-post:last-of-type {
		margin-left: auto;
		margin-right: auto;
	}

	.page #featured-works h1,
	.page #recent-blogs {
		text-align: center;
		font-size: 6vw;
	}

	.work-post img {
		position: relative;
	}

	.work-post p {
		/* Adjust to put description under image */
		position: static;
		width: 100%;
		display: block;
		background: transparent;
		color: rgb(var(--base-black));
		/* Always show */
		opacity: 1;
		/* Remove smooth fade in */
		transition: none;
	}

	.work-post p .hover-text {
		margin-bottom: 1.25em;
		display: block;
		text-align: center;
		font-size: 3vw;
	}

	.work-post p {
		margin-top: .25em;
	}

	.work-post:before {
		padding-top: 0%;
	}
}

#landing-block,
#featured-works,
#recent-blogs {
	padding: 2rem;
	margin-bottom: 7%;
}

#landing-block {
	padding-top: 12%;
}

#landing-block {
	max-width: 600px;
	font-size: 14pt;
}

.page {
	display: block;
	max-width: 70em;
	padding: 2em;
	margin-top: 2em;
	margin: auto;
}

.view-more-button {
	display: block;
	width: 200px;
	height: 50px;
	margin: 1em auto;
	background-color: rgb(var(--base-white));
	text-align: center;
	border-radius: 25px;
	border: 1px solid rgb(var(--base-grey));
	text-decoration: none;
	cursor: pointer;
	line-height: 28px;
	font-size: 16px;
	color: rgb(var(--base-grey));
}

.view-more-button:hover {
	border-width: 2px;
}


/* Post page formatting */

article {
	max-width: 700px;
	margin: auto;
	padding-left: 2em;
	padding-right: 2em;
}

.article-title {
	font-size: 3rem;
	margin-bottom: 0;
}

.post-break {
	width: 100%;
	text-align: left;
	margin-left: 0;
	margin-bottom: 3em;
	color: rga(var(--base-grey));
}

.header-anchor {
	content: "#";
	opacity: 0;
}

.header-anchor:hover {
	opacity: 1;
}

article img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.banner-image {
	position: relative;
}

.banner-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.banner-image img {
	display: block;
	width: 100%;
	max-height: 330px;
}

.headshot-image {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -35%);
	width: 10%;
	min-width: 8rem;
}

.headshot-image img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

#about-page {
	display: block;
	padding: 2em;
	max-width: 75rem;
	margin-top: 2em;
	margin: auto;
}

#about-page p {
	font-size: 14pt;
}

#about-page h1 {
	padding-top: 5rem;
	padding-bottom: 1em;
	display: block;
	font-size: 2.25rem;
	margin: auto;
	text-align: center;
}

#about-page h2 {
	display: block;
	text-align: center;
	padding-top: 3em;
}

#about-page #intro,
#about-page #technologies,
#about-page #this-website {
	max-width: 45em;
	margin: auto;
}

#about-page #technologies img {
	display: block;
	max-width: 100%;
	margin: auto;
}

.icon-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.icon-list a {
	/* grow, shrink, base width */
	flex: 1 0 20%;
	text-align: center;
	margin: 10px;
	height: 100px;
}

.icon-list img {
	width: 100%;
	height: 100%;
	/* Ensures the aspect ratio is maintained */
	object-fit: contain;
}