/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: #212529;
	--text-color-link: #212529;
	--text-color-link-active: #212529;
	--text-color-link-visited: #212529;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #212529;
		--color-gray-50: #212529;
		--color-gray-90: #212529;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #212529;
		--text-color-link-active: #212529;
		--text-color-link-visited: #212529;

		--background-color: #ffffff;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

html {
	overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	max-width: 70em;
	margin: 0 auto;
	margin-top: 6.5em;
}

header {
	border-bottom: 1px solid;
	max-width: 100%;
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #fff;
}

.home-link {
	font-size: 1.25em;
	font-weight: 700;
	margin-left: 2rem;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */

.nav-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: space-between;
	width: 1180px;
	margin-right: auto;
	margin-left: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	/* center the items horizontally */
	flex-wrap: wrap;
}

.nav-item {
	font-size: 1.25em;
	display: inline-flex;
	/* changed to flex */
	margin-right: 2em;
	font-weight: bold;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav-item a[href][aria-current="page"] {
	text-decoration: underline;
}

.hire-me {
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	color: #fff;
	border-radius: 0;
	border: 2px solid;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.6);
	transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hire-me:hover {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
	transform: translate(6px, 6px);
}

/* Hamburger menu styles */

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	z-index: 10;
}

.hamburger div {
	width: 2rem;
	height: 0.25rem;
	background-color: #333;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
}

/* Hide the checkbox */
.hamburger-checkbox {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Styles to show menu when hamburger is checked */

.hamburger-checkbox:checked~.hamburger-menu-label nav {
	display: block;
}

/* Media query for smaller screens */

@media screen and (max-width: 768px) {
	.nav-item {
		display: none;
	}

	.hamburger {
		display: flex;
		margin: 1.37rem;
		margin-left: auto;
	}

	.hamburger-menu-label nav {
		position: fixed;
		/* Change from absolute to fixed */
		display: none;
		/* Hide the element */
		width: 100%;
		/* Full width */
		height: 100%;
		/* Full height */
		top: 0;
		/* Position at the top */
		left: 0;
		/* Position at the left */
		background-color: rgba(0, 0, 0, 0.85);
		/* Semi-transparent background */
		justify-content: center;
		/* Center items horizontally */
		align-items: center;
		/* Center items vertically */
		flex-direction: column;
		/* Stack items vertically */
		transition: transform 0.3s ease-in-out;
		/* Ensure it appears above other content */
		z-index: 999;
	}

	.hamburger-checkbox:checked~.hamburger-menu-label .nav-item {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3em;
		margin-right: 0;
	}

	.hamburger-checkbox:checked~.hamburger-menu-label ul {
		padding: 0;
		list-style-type: none;
	}

	.hamburger-checkbox:checked~.hamburger-menu-label .nav-item a {
		color: #ffffff;
	}
}

/* Posts list */
.postlist {
	list-style: none;
	padding-left: 0;
}

.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
	border-bottom: solid 1px #909ca7;
}


.postlist-item h4 {
	display: inline;
	font-weight: 400;
}

.postlist-item a {
	text-decoration: none;
}

.postlist-item:hover {
	border-bottom: solid 2px #909ca7;
}

.postlist-item:hover .postlist-date,
.postlist-item:hover h4 {
	font-weight: 800;
}

.postlist-date {
	font-size: 1.125rem;
	float: right;
	text-align: right;
	color: #5c6e7e;
}

.postlist-link {
	font-size: 1.35rem;
	font-weight: 400;
	flex-basis: 100%;
}

@media screen and (max-width: 768px) {
	.postlist-item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-bottom: 0;
	}

	.postlist-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.postlist-item:hover .postlist-date {
		font-weight: 800;
	}

	.postlist-date {
		float: none;
		text-align: center;
	}

	.postlist-item h4 {
		text-align: center;
		margin: 0;
	}

}

.image-container img {
	display: block;
	width: 100%;
	height: auto;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item>.post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}

a[href].header-anchor:focus,
:hover>a[href].header-anchor {
	color: #aaa;
}

h2+.header-anchor {
	font-size: 1.5em;
}

/* Handling images */

.work-post {
	position: relative;
	/* Display posts side by side */
	display: inline-flex;
	margin: 1em;
	width: calc(29%);
	/* if you want three images per row. Change this percentage to fit your needs. */
	overflow: hidden;
	/* Add overflow hidden to prevent image overflow */
}

.work-post:first-of-type {
	margin-left: 0;
}

.work-post:last-of-type {
	margin-right: 0;
}

.work-post img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	/* fill the entire container, ignoring aspect ratio */
}

/* You can adjust the percentage to get the aspect ratio you want. */
.work-post:before {
	content: "";
	display: block;
	padding-top: 100%;
	/* aspect ratio 4:3, for 1:1 use 100%, for 16:9 use 56.25% */
}

.work-post p {
	/* Overlay description on image */
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	/* Semi-transparent black */
	background: #000000ce;
	color: white;
	/* Hide by default */
	opacity: 0;
	/* Smooth fade in */
	transition: opacity 0.3s ease;
}

.work-post p .hover-text {
	margin-top: 10%;
}

.work-post:hover p {
	/* Show on hover */
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.work-post {
		width: 75%;
		display: block;
		margin: auto;
		margin-bottom: 2rem;
	}

	.page h1 {
		display: flex;
		justify-content: center;
	}

	.work-post:first-of-type,
	.work-post:last-of-type {
		margin-left: auto;
		margin-right: auto;
	}
}

.section {
	margin-bottom: 4em;
}

.landing-block,
.featured-works,
.recent-blogs {
	padding: 2rem;
}

.landing-block {
	max-width: 600px;
	font-size: 14pt;
}

.page {
	padding: 2em;
}