---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<div class="page">
  <section id="landing-block">
    <h1>Hey, I'm Zane - A Software Engineer from Dallas</h1>
    <p>
      Guided by the words of W. H. Auden, "We are all here on earth to help others; what on earth the others are here for I don't know," I am motivated to persist in the face of challenges and utilize my growing skillset to benefit those in need.
    </p>
    <p>
      As I continue to advance in my career, I am determined to explore and refine my proficiency in machine learning, maximizing the potential of these tools in addressing pressing global issues and contributing to a more stable world.
    </p>
    <p>
      In my downtime, I enjoy cultivating unconventional skills such as billiards, darts, calligraphy, and bowling.
    </p>
  </section>

  <section id="featured-works">
    <h1>Featured Work</h1>
    {% for post in collections.pinned %}
      <div class="work-post">
        <a href="{{ post.url }}">
          <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
          <p><span class="hover-text">{{ post.data.title }}</span></p>
        </a>
      </div>
    {% endfor %}
    <button class="view-more-button" onclick="location.href='/work/'"> View More </button>
  </section>

  <section id="recent-blogs">
    <h1>My Recent Blog Posts</h1>
    {% set postsCount = collections.posts | length %}
    {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "postslist.njk" %}

    {% set morePosts = postsCount - numberOfLatestPostsToShow %}
    {% if morePosts > 0 %}
      <button class="view-more-button" onclick="location.href='/blog/'"> View More </button>
    {% endif %}
  </section>
</div>

{# List every content page in the project #}
{#
<ul>
  {%- for entry in collections.all %}
  <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
  {%- endfor %}
</ul>
#}
