---
layout: layouts/home.njk
eleventyNavigation:
  key: Work
  order: 3
---
<div class="page">
  <h1>All Work</h1>
  {% for post in collections.work %}
    <div class="work-post">
      <a href="{{ post.url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
        <p><span class="hover-text">{{ post.data.title }}</span></p>
      </a>
    </div>
  {% endfor %}
</div>
