---
layout: layouts/home.njk
eleventyNavigation:
  key: Work
  order: 3
---
<div class="page">
  <h1>All Work</h1>
  {% for post in collections.work | reverse %}
    <div class="work-post">
      <a href="{{ post.url }}">
        {% image post.data.image, post.data.alt %}
        <p><span class="hover-text">{{ post.data.title }}</span></p>
      </a>
    </div>
  {% endfor %}
</div>
